@import "./master.css";

body {
    background-color: var(--main-blue);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    align-items:center;
    justify-items: center;
}

#btn-left {
    background-color: var(--main-green);
}

#btn-right {
    background-color: var(--main-red);
}

/* Remove hover effect and pointer */
.selection:hover {
    cursor: default;
    transform: scale(1);
}