@import './master.css';

body {
    background-color: var(--main-blue);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    align-items:center;
    justify-items: center;
}

p {
    margin: 0;
    transition: transform 1s ease;
}

#status-wrapper {
    font-size: 37px;
    color: var(--main-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

@media screen and (max-width: 600px) {
    #status-wrapper {
        font-size: 29px;
    }
}

@media screen and (max-width: 500px) {
    #status-wrapper {
        font-size: 23px;
    }
}

@media screen and (max-width: 400px) {
    #status-wrapper {
        font-size: 18px;
    }
}

#status-msg {
    position: relative;
    top: -2px;
    font-weight: 100;
}

#status {
    position: relative;
}

#time {
    font-size: 76px;
    font-weight: 100;
    color: var(--main-white);
}

#bell {
    position: absolute;
    opacity: 0;
    height: 120px;
    fill: var(--main-white);
    color: var(--main-white);
    filter: invert(0.95);
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    animation: shake 1s infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#btn-right {
    background-color: var(--main-black);
}

#btn-left {
    background-color: var(--main-red);
}